html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

canvas {    
    border: 1px solid black;
}

#hint {
    width: 40%;
    height: auto;
}

.gallery img:hover {
    opacity: 0.5;
}