body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

canvas {
    width: 49%;
    height: auto;
    border: 1px solid black;
}

img {
    width: auto;
    height: auto;
}