body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

canvas {
    /* width: 49%;
    height: auto; */
    /* width: 400px;
    height: 400px; */
    border: 1px solid black;
}

#hint {
    width: 30%;
    height: auto;
}

div img:hover {
    opacity: 0.5;
}